<h1><h1>Patients</h1>

<br />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= link_to 'Show', patient, class: "btn" %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient), class: "btn" %></td>
        <td><%= link_to 'Destroy', patient, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path, class: "btn" %>
